<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Page</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <img src="" alt="M Logo">
            </div>
            <div class="nav-links">
                <!-- Needs to be a back button here once it's added -->
                <a href="/">Sign Out</a>
            </div>
        </div>
    </header>
    <main>
        <section class="spaces">
            <h1>Spaces</h1>
            
            <div class="space">
                <h3>Charming Cottage in the Countryside</h3>
                <p>Lake District, UK</p>
                <p><strong>$95/night</strong></p>
                <a href="">More Info</a>
            </div>
            <div class="space">
                <h3>Charming Cottage in the Countryside</h3>
                <p>Lake District, UK</p>
                <p><strong>$95/night</strong></p>
                <a href="">More Info</a>
            </div>
            <div class="space">
                <h3>Charming Cottage in the Countryside</h3>
                <p>Lake District, UK</p>
                <p><strong>$95/night</strong></p>
                <a href="">More Info</a>
            </div>
        </section>
    </main>
</body>
</html>