<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="navbar">
            <a href="/logged">Login</a>
            <a href="/signup">Sign Up</a>
        </div>
        <p>{{space.picture_url}}</p>
        <h1>{{space.name}}</h1>
        <h2>${{space.price}} a night</h2>
        <p>{{space.description}}</p>
        {% for user in users %}
        {% if user.id == space.user_id %}
            <p>Interested in booking? Call {{user.phone_number}}</p>
        {% endif %}
        {% endfor %}
    </body>
</html>