<!DOCTYPE html>
<html lang="en">
<head>
<title>Makers B&B</title>
<meta charset="utf-8">
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="navbar">
    <a href ='/logged'>Login</a>
    <a href ='/signup'>Sign Up</a>
</div>
<h1>>Welcome to Makers B&B</h1>
<!-- {% for item in return_list %} -->
<div class="Space-info">
<!-- <img src={{item.picture_url}} alt="Image of Space" />
<h2>{{item.name}}</h2>
<b>{{item.price}}</b>
<br>
<p>{{item.description}}</p>
{% endfor %} -->
</div>
</body>
</html>